@model List<BarcodeTrackerWEB.ViewModels.CustomerVM>
@{
    ViewBag.Title = "Index";
}
<style>
    body {

        background-image: url(/Content/images/body-black.jpg);
        background-repeat: repeat-y;
        background-size: cover;
    }

    .jumbotron {
        background: rgba(0, 0, 0, 0.5);
        text-align: center;
    }

    p {
        color: #d0d0d0;
    }
</style>

<div class="jumbotron">
    <h1>Manage Your Customers</h1>
    <p class="lead">Store information about your customers and mantain your customer base</p>
    <p><a href="/Customer/CreateCustomer" class="btn btn-warning btn-lg">Create Customer &raquo;</a></p>
    <p><a href="/Customer/DisplayAllCustomers" class="btn btn-default btn-lg">View Customers &raquo;</a></p>

</div>
