@model BarcodeTrackerWEB.Models.Customer
@{
    ViewBag.Title = "UploadLogo";
}

<h2>UploadLogo</h2>

<div>
    @* Make sure the enctype is multipart/form-data *@
    @using (Html.BeginForm("UploadLogo", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <p> Upload File</p>
        <input type="file" id="file" name="image" /><br />
        <input type="submit" value="Save" />
    }
</div>


