@model BarcodeTrackerWEB.Models.Order

<h2>Email Invoice</h2>

<div>
    @* Make sure the enctype is multipart/form-data *@
    @using (Html.BeginForm("emailInvoice", "Orders", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <p> Upload & Email Customer Invoice</p>
        <input type="file" id="file" name="image" /><br />
        <input type="submit" value="Upload" />
    }
</div>
