@model BarcodeTrackerWEB.Models.Order


<h2>Upload Label Proof</h2>

<div>
    @* Make sure the enctype is multipart/form-data *@
    @using (Html.BeginForm("UploadProofDoc", "Orders", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <p> Upload Signed Label Proof</p>
        <input type="file" id="file" name="image" /><br />
        <input type="submit" value="Upload" />
    }
</div>
